.container{
    max-width: 1200px;
    margin: 0 auto;
}

.section-top-bar{
    background-color: #d01919;
    color: white;
}

.section-top-bar .container{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.section-top-bar .socials{
    display: flex;
}

.section-top-bar .socials li,
.section-top-bar .socials a
{
    display: block;
}

.section-top-bar .socials a span{
    display: none;
}

.section-top-bar .socials li{
    padding: 0 0.5em;
}

.section-top-bar a{
    color: white;
}

.section-site-header{
    background-color: black;
    color: white;
}

.section-site-header .container{
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.section-site-header .site-title{
    display: none;
}

.section-site-header a{
    color: white;
}

.section-site-footer{
    background-color: #d01919;
}

.section-coaches{
    background-color: #efefef;
}